
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(59, 59, 59);
    border-radius: 20px;
}
body::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
.Background{
    z-index: auto;
}