body{
    background-color: #000; /*setzt diee background color dafür, dass wenn gescrollt wird und das bild endet, dass kein weißer, sondern ein schwarzer screen gezeigt wird*/
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    background: url(../MainImages/vader.jpg);
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 300px;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.echos{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    margin-top: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px rgb(90,90,90); /* x y color */
}
.top{
    margin-top: 240px;
}
h1{
    margin: 0;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px rgb(90,90,90); /* x y color */
}
h2{
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0.5px 0.5px rgb(90,90,90); /* x y color */
}