p{
    color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.LeftSidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(9, 19, 49);
    transition: all .5s ease;
}
.LeftSidebar header{
    font-size: 22px; 
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(29, 39, 69);
    user-select: none;
}
.LeftSidebar ul a{
    display: block;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
}
ul li:hover a{
    transition: all .3s ease;
    font-size: 22;
    font-weight: bold;
}
.LeftSidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 20px;
    font-size: 30px;
    color: white;
    padding: 6px;
    transition: all .5s ease;
    background-color: rgb(1, 13, 49);
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .LeftSidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}