.LeftSidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(1, 13, 49);
    width: 250px;
    height: 100%;
    margin:0px;

    border-right: 2px solid rgba(255, 125, 50, 0.534);
}
.ImageHamburger{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    /*padding-left: 80px;*/
    margin-right: 10px;
    padding-right: 80px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.MenuItemsLeftSide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.MenuStart{
    display: flex;
    gap: 15px;
}
.IconMenus{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.IconsText{
    display: inline;
    margin-top: 12px;
}
p{
    color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}