p{
    color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
i{
    background-color: rgb(4, 8, 20);
    left: 250px;
}
.LeftSidebar{
    position: fixed;
    width: 220px;
    height: 100%;
    background-color: rgb(4, 8, 20);
    transition: all .5s ease;
    left: -250px;
}
.LeftSidebar header{
    font-size: 22px; 
    color: white;
    padding-left: 40px;
    line-height: 70px;
    background-color: rgb(13, 26, 39);
    user-select: none;
    left: -250px;
}
.LeftSidebar ul a {
    display: block;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    left: -250px;
}
.grow{
    transition: all .3s ease;
    
}
.grow:hover{
    transform: scale(1.2);
    padding-left: 12px;
}
.LeftSidebar ul a i{
    margin-right: 16px;
    left: -250px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
    position: fixed;
}
label #btn{
    left: 30px;
    top: 20px;
    font-size: 30px;
    color: white;
    padding: 6px;
    /*transition: all .5s ease;*/
    background-color: transparent;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
    background-color: rgb(29, 39, 69);
    background: transparent;
}
#check:checked ~ .LeftSidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 20;
    opacity: 1;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 170px;
}
#check:checked ~ i{
    left: 0;
}
.AccNav{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}